@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Verdana", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  color: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  min-height: 100vh;
  color: #212f3d;
}

.wrapper {
  margin: 0 20%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 0;
}
@media (max-width: 1280px) {
  .wrapper {
    margin: 0 10%;
  }
}
@media (max-width: 600px) {
  .wrapper {
    margin: 0 5%;
  }
}

header {
  color: white;
  background-color: #7413dc;
  padding: 1em 0 2em;
  width: 100%;
}
header nav {
  width: 100%;
}
header .help ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  gap: 5%;
}
header .help ul li a {
  text-decoration: none;
  font-size: 0.75em;
}
header .help ul li a:hover {
  color: #a6acb1;
}
@media (max-width: 1024px) {
  header .help ul li a span {
    display: none;
  }
  header .help ul li a span i:before {
    display: block;
  }
}
@media (min-width: 1025px) {
  header .help ul li.dropmenu {
    display: none;
  }
}
header h1 {
  color: #ffa9bc;
  font-weight: normal;
  font-size: 2.25em;
  margin: 1em 0;
}
@media (max-width: 600px) {
  header h1 {
    font-size: 1.5em;
  }
}
header .menu ul {
  list-style-type: none;
  display: flex;
  overflow-x: auto; /* разрешаем горизонтальную прокрутку */
  white-space: nowrap;
  justify-content: flex-start;
  gap: 15px;
}
header .menu ul li {
  color: white;
  flex: 0 0 auto;
  border-radius: 1.5em;
  background-color: #8853dd;
  padding: 0.5em 1.5em;
  font-size: 0.75em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  cursor: pointer;
}
header .menu ul li .discount {
  background-color: #72b62b;
  border-radius: 1em;
  transform: translateX(0.75em);
  padding: 0.25em;
}
header .menu ul li:hover {
  background-color: white;
}
header .menu ul li:hover a {
  color: black;
}
header .menu ul li a {
  line-height: 100%;
  text-decoration: none;
}
header .search {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  gap: 5px;
  width: 100%;
}
header .search .inputs {
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  gap: 0;
}
header .search .inputs .cities {
  flex: 8;
}
header .search .inputs .dates {
  flex: 5;
}
header .search .inputs .pass_wrapper {
  flex: 4;
}
header .search .inputs div {
  border-right: 1px solid #a6acb1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  min-width: 0;
}
header .search .inputs div :not(:last-child) {
  border-right: 1px dashed #a6acb1;
}
header .search .inputs input,
header .search .inputs select {
  border: none;
  min-width: 0;
  flex: 1;
  padding: 2em 1em;
}
header .search .inputs input:focus,
header .search .inputs select:focus {
  outline: none;
}
header .search .inputs select {
  background-color: white;
}
header .search button {
  cursor: pointer;
  border: none;
  padding: 1em 2em;
  color: white;
  background-color: #f74068;
  border-radius: 5px;
}
@media (max-width: 1024px) {
  header .search {
    align-items: end;
    flex-direction: column;
  }
  header .search .inputs {
    width: 100%;
  }
}
@media (max-width: 900px) {
  header .search .inputs {
    flex-direction: column;
  }
  header .search .inputs div {
    border-right: none;
    border-bottom: 1px solid #a6acb1;
  }
}
@media (max-width: 400px) {
  header .search .inputs {
    flex-direction: column;
  }
  header .search .inputs div {
    flex-direction: column;
    align-items: stretch;
  }
  header .search .inputs div :not(:last-child) {
    border-bottom: 1px dashed #a6acb1;
    border-right: none;
  }
}
header .complex {
  text-decoration: none;
  font-size: 0.8em;
}
header .complex:hover {
  color: #a6acb1;
}
header .wrapper {
  gap: 1em;
}

main {
  flex: 1;
  background-color: #eff1f4;
  position: relative;
}
main #pass_menu {
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  background-color: white;
  width: 300px;
  position: absolute;
  top: -2em;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  box-shadow: 0 0 0.5em rgba(128, 128, 128, 0.5);
  display: none;
}
main #pass_menu .pass_type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}
main #pass_menu p {
  color: gray;
  font-weight: bold;
}
main #pass_menu button {
  width: 2em;
  height: 2em;
  position: relative;
  border: none;
  background-color: white;
}
main #pass_menu button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main #pass_menu button.plus::after {
  content: "+";
}
main #pass_menu button.plus::after {
  content: "-";
}
main #pass_menu button:disabled {
  background-color: #eff1f4;
  box-shadow: none;
}
main #pass_menu .pass_class li,
main #pass_menu button {
  border-radius: 1em;
  box-shadow: 0 0 0.5em rgba(128, 128, 128, 0.5);
  cursor: pointer;
}
main #pass_menu ul {
  padding: 0;
}
main #pass_menu ul.pass_class {
  display: flex;
  gap: 1em;
}
main #pass_menu ul.pass_class li {
  list-style-type: none;
  padding: 1em;
  line-height: 0;
}
main #pass_menu ul.pass_class li.active {
  background-color: #f74068;
  color: white;
}
main #pass_menu .ok {
  width: 100%;
  margin-top: 1em;
}
main #pass_menu .ok:hover {
  color: white;
  background-color: #f74068;
}
main #calendar_wrapper {
  display: none;
  padding: 1em;
  gap: 1em;
  background-color: white;
  position: absolute;
  top: -2em;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  box-shadow: 0 0 0.5em rgba(128, 128, 128, 0.5);
}
main #calendar_wrapper .ok {
  margin: 1em auto 0;
  display: block;
  padding: 1em;
  border-radius: 2em;
  box-shadow: 0 0 0.5em rgba(128, 128, 128, 0.5);
  cursor: pointer;
  background: #f74068;
  border: none;
}
main #calendar {
  display: flex;
  gap: 1em;
}
main #calendar .calendarsheet {
  position: relative;
}
main #calendar button {
  cursor: pointer;
  position: absolute;
  top: 0;
  background: transparent;
  border: none;
  font-weight: bold;
  color: gray;
}
main #calendar button#prev {
  left: 10px;
}
main #calendar button#next {
  right: 10px;
}
main #calendar .month {
  text-align: center;
  font-weight: bold;
}
main #calendar .week {
  width: 100%;
  display: flex;
}
main #calendar .week li {
  color: gray;
  font-weight: bold;
}
main #calendar .dates {
  display: flex;
  flex-wrap: wrap;
}
main #calendar li {
  width: 14.2857142857%;
  box-sizing: border-box;
  text-align: center;
  color: grey;
  list-style-type: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 0.5em;
  margin: 2px 0;
}
main #calendar .active {
  color: black;
}
main #calendar .today {
  background-color: lightgray;
  border-radius: 5px;
}
main #calendar .selected {
  border-top: 1px solid #a6acb1;
  border-bottom: 1px solid #a6acb1;
  background-color: #ffe8ed;
}
main #calendar .borderdate,
main #calendar .startdate,
main #calendar .enddate {
  background-color: #f74068;
  color: white;
}
main #calendar .borderdate {
  border-radius: 5px;
}
main #calendar .startdate {
  border-left: 1px solid #a6acb1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
main #calendar .enddate {
  border-right: 1px solid #a6acb1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.promo {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  gap: 1em;
  width: 100%;
}
.promo .telegram {
  background: white url(./images/pics/telegrambot.png) no-repeat 95% 100%;
}
.promo .telegram button {
  background-color: #ffe8ed;
  color: #f74068;
}
.promo .bus {
  background: white url(./images/pics/bus.png) no-repeat 100% 90%;
}
.promo .bus button {
  background-color: #f74068;
  color: white;
}
.promo_item {
  background: white;
  box-shadow: -1px 1px 10px rgba(100, 100, 100, 0.3);
  width: 49%;
  border-radius: 5px;
  padding: 3%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}
.promo_item h3 {
  font-size: 1.1em;
  font-weight: normal;
}
.promo_item ul {
  padding-right: 130px;
}
.promo_item ul li {
  list-style-type: none;
  display: inline;
  margin-right: 0.5em;
}
.promo_item ul li::before {
  content: "✓";
  color: #72b62b;
  margin-right: 0.25em;
  font-weight: bold;
}
.promo_item button {
  border: none;
  cursor: pointer;
  padding: 1em;
  box-shadow: -1px 1px 10px rgba(100, 100, 100, 0.3);
  border-radius: 5px;
}
.promo_item button:hover {
  box-shadow: -1px 1px 10px rgba(100, 100, 100, 0.3) inset;
}
@media (max-width: 1024px) {
  .promo {
    flex-direction: column;
  }
  .promo_item {
    width: 94%;
  }
}

.content {
  display: grid;
  grid-template-areas: "popular top10" "hot     faq" "hot     best";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto;
  align-items: flex-start;
  gap: 20px;
}
@media (max-width: 1024px) {
  .content {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
  }
}
.content article,
.content .best {
  border-radius: 5px;
  box-shadow: 0 0 0.5em rgba(128, 128, 128, 0.5);
}
.content .best {
  padding: 0.1em 1em;
}
.content_item h2 {
  font-size: 1.2em;
  margin: 20px 0;
  font-weight: normal;
}
.content_item article {
  background-color: white;
}
.content_item article h3 {
  font-weight: normal;
  font-size: 1.1em;
}
.content_item article p {
  color: #a6acb1;
  font-size: 0.8em;
  line-height: 1.6em;
  margin: 1em 0;
}
.content .popular {
  grid-area: popular;
}
@media (min-width: 1601px) {
  .content .popular article {
    column-count: 2;
    gap: 0;
  }
  .content .popular article li {
    height: 3em;
  }
}
.content .popular article li {
  list-style-type: none;
  padding: 0.75em;
  line-height: 1.5em;
  border-bottom: 1px solid #a6acb1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0;
}
@media (max-width: 1024px) {
  .content .popular article li {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .content .popular article li {
    align-items: start;
  }
}
.content .popular article li a {
  text-decoration: none;
}
.content .popular article li a:hover {
  color: #f74068;
}
.content .popular article li b {
  font-weight: normal;
  color: #f74068;
}
.content .top10 {
  grid-area: top10;
}
.content .top10_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0;
  margin: 20px 0;
  flex-wrap: wrap;
}
.content .top10_header h2 {
  margin: 0;
}
.content .top10_header a {
  text-decoration: none;
  color: #3a92f8;
  font-size: 0.8em;
}
.content .top10_header a:hover {
  color: #f74068;
}
.content .top10 ol {
  font-size: 0.95em;
  padding: 1em 2em;
}
.content .top10 ol li::marker {
  content: counter(list-item) " "; /* только число и пробел */
}
.content .top10 ol li div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0;
}
.content .top10 ol li div a {
  text-decoration: none;
  color: #3a92f8;
}
.content .top10 ol li div a:hover {
  color: #f74068;
}
.content .top10 ol li div b {
  font-weight: normal;
}
.content .top10 ol li div b::before {
  content: "★";
  margin-right: 10%;
  font-size: 1.5em;
  color: #f74068;
}
.content .hot {
  grid-area: hot;
}
.content .hot article {
  padding: 1em;
}
.content .hot article h3 {
  font-weight: bold;
  font-size: 0.9em;
}
.content .faq {
  grid-area: faq;
}
.content .faq article {
  padding: 1em;
}
.content .faq article ul {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 1em;
  list-style-type: none;
}
.content .faq article ul a {
  font-size: 0.95em;
  text-decoration: none;
  color: #3a92f8;
}
.content .faq article ul a:hover {
  color: #f74068;
}
.content .best {
  grid-area: best;
  background: #d0d1fb;
  padding: 1em;
}
.content .best h2 {
  margin: 0;
  font-size: 1.2em;
  font-weight: normal;
  padding-right: 120px;
  position: relative;
  height: 110px;
  margin-bottom: 1em;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 0;
}
.content .best h2::after {
  content: url(./images/pics/notebook.png);
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  right: 0;
}
.content .best form {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: start;
  flex-direction: row;
  gap: 0;
}
.content .best form input {
  border: 1px solid #f74068;
  border-radius: 5px;
  flex-grow: 1;
  padding: 0 1em;
}
.content .best form input::placeholder {
  color: #f74068;
}
.content .best form input:focus {
  outline: none;
}
.content .best form button {
  color: white;
  background-color: #f74068;
  border: none;
  border-radius: 5px;
  width: 50px;
  cursor: pointer;
}
.content .best form::after {
  content: "!";
  background: #ff5252;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  position: absolute;
  top: -1em;
  right: 5em;
  width: 2em;
  height: 2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
}
@media (min-width: 601px) and (max-width: 1024px) {
  .content .best {
    padding: 1em 15%;
  }
}

footer {
  width: 100%;
  padding: 2em 0;
  background-color: white;
}
footer .wrapper {
  align-items: stretch;
  gap: 2em;
}
footer ul {
  list-style-type: none;
}
footer .partners {
  display: flex;
  justify-content: space-between;
}
footer .partners li {
  display: inline-flex;
}
footer .partners li img {
  max-height: 35px;
}
footer .categories {
  border-bottom: 1px solid #a6acb1;
  display: flex;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  gap: 0;
  font-size: 0.8em;
}
footer .categories_column {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 0.5em;
  width: 14%;
  line-height: 1.8em;
}
footer .categories_column_list {
  flex-grow: 1;
}
footer .categories_column_list a {
  color: #212f3d;
  text-decoration: none;
}
footer .categories_column h4, footer .categories_column_list {
  width: 100%;
}
footer .categories_column h4,
footer .categories_column li,
footer .categories_column .all {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
footer .categories_column .all {
  width: 100%;
  padding-bottom: 2em;
  display: block;
  color: #3a92f8;
  text-decoration: none;
}
footer .categories_column .all::after {
  content: " →";
}
footer .categories a:hover {
  color: #f74068;
}
@media (max-width: 1024px) {
  footer .categories {
    flex-wrap: wrap;
  }
  footer .categories_column {
    width: 28%;
  }
}
@media (max-width: 600px) {
  footer .categories {
    flex-direction: column;
  }
  footer .categories_column {
    width: 100%;
    border-top: 1px solid #a6acb1;
    padding: 1em 0;
  }
  footer .categories_column h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 0;
    cursor: pointer;
  }
  footer .categories_column h4::after {
    content: ">";
    display: block;
    color: #a6acb1;
  }
  footer .categories_column_list,
  footer .categories_column .all {
    display: none;
  }
}
footer .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 1em;
}
footer .links_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: wrap;
}
footer .links_buttons li {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  padding: 1em;
}
footer .links_buttons_partners {
  border: 1px solid #3a92f8;
}
footer .links_buttons_partners a {
  color: #3a92f8;
}
footer .links_buttons_app ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1em;
}
footer .links_buttons_app li {
  background-color: black;
}
footer .links_buttons_app li a {
  color: white;
}
footer .links_buttons a {
  text-decoration: none;
}
footer .links_media {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  gap: 0.5em;
}
footer .links_media_item {
  color: #a6acb1;
  font-size: 2.5em;
}
footer .links a:hover {
  color: #ffa9bc;
}
@media (max-width: 600px) {
  footer .links {
    flex-direction: column;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=main.css.map */
