* {
  margin: 0;
  padding: 0;
  font-family: "Verdana", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

$headerBG: #7413dc;
$brightColor: #f74068;
$titleColor: #ffa9bc;
$delicateColor: #ffe8ed;
$highlightColor: #d0d1fb;
$mainBG: #eff1f4;
$mainText: #212f3d;
$lightText: #a6acb1;
$linkColor: #3a92f8;
$mainNavigation: #8853dd;
$green: #72b62b;

a {
  color: inherit;
}

@mixin flex(
  $align-items: center,
  $justify-content: center,
  $flex-direction: column,
  $gap: 0
) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
  gap: $gap;
}

@mixin shadowed {
  border-radius: 5px;
  box-shadow: 0 0 0.5em rgba(128, 128, 128, 0.5);
}

body {
  @include flex();
  min-height: 100vh; // футер снизу
  color: $mainText;
}

.wrapper {
  margin: 0 20%;
  @media (max-width: 1280px) {
    margin: 0 10%;
  }
  @media (max-width: 600px) {
    margin: 0 5%;
  }
  @include flex(start);
}

header {
  color: white;
  background-color: $headerBG;
  padding: 1em 0 2em;
  width: 100%;
  nav {
    width: 100%;
  }
  .help {
    ul {
      list-style-type: none;
      @include flex(center, end, row, 5%);
      li {
        a {
          text-decoration: none;
          font-size: 0.75em;
          &:hover {
            color: $lightText;
          }
          span {
            @media (max-width: 1024px) {
              display: none;
              i:before {
                display: block;
              }
            }
          }
        }
        &.dropmenu {
          @media (min-width: 1025px) {
            display: none;
          }
        }
      }
    }
  }
  h1 {
    color: $titleColor;
    font-weight: normal;
    font-size: 2.25em;
    margin: 1em 0;
    @media (max-width: 600px) {
      font-size: 1.5em;
    }
  }
  .menu {
    ul {
      list-style-type: none;
      display: flex;
      overflow-x: auto; /* разрешаем горизонтальную прокрутку */
      white-space: nowrap;
      justify-content: flex-start;
      gap: 15px;

      li {
        color: white;
        flex: 0 0 auto;
        border-radius: 1.5em;
        background-color: $mainNavigation;
        padding: 0.5em 1.5em;
        font-size: 0.75em;
        font-weight: bold;
        @include flex(center, center, row);
        cursor: pointer;
        .discount {
          background-color: $green;
          border-radius: 1em;
          transform: translateX(0.75em);
          padding: 0.25em;
        }
        &:hover {
          background-color: white;
          a {
            color: black;
          }
        }
        a {
          line-height: 100%;
          text-decoration: none;
        }
      }
    }
  }

  .search {
    @include flex(stretch, space-between, row, 5px);
    width: 100%;

    .inputs {
      .cities {
        flex: 8;
      }
      .dates {
        flex: 5;
      }
      .pass_wrapper {
        flex: 4;
      }
      border-radius: 5px;
      overflow: hidden;

      background-color: white;
      @include flex(stretch, space-between, row, 0);
      div {
        border-right: 1px solid $lightText;

        @include flex(center, center, row, 0);
        min-width: 0;

        :not(:last-child) {
          border-right: 1px dashed $lightText;
        }
      }
      input,
      select {
        border: none;
        min-width: 0;
        flex: 1;
        padding: 2em 1em;
        &:focus {
          outline: none;
        }
      }
      select {
        background-color: white;
      }
    }
    button {
      cursor: pointer;
      border: none;
      padding: 1em 2em;
      color: white;
      background-color: $brightColor;
      border-radius: 5px;
    }
    @media (max-width: 1024px) {
      align-items: end;
      flex-direction: column;
      .inputs {
        width: 100%;
      }
    }
    @media (max-width: 900px) {
      .inputs {
        flex-direction: column;
        div {
          border-right: none;
          border-bottom: 1px solid $lightText;
        }
      }
    }
    @media (max-width: 400px) {
      .inputs {
        flex-direction: column;
        div {
          flex-direction: column;
          align-items: stretch;

          :not(:last-child) {
            border-bottom: 1px dashed $lightText;
            border-right: none;
          }
        }
      }
    }
  }
  .complex {
    text-decoration: none;
    font-size: 0.8em;
    &:hover {
      color: $lightText;
    }
  }
  .wrapper {
    gap: 1em;
  }
}

main {
  flex: 1; // Занимает оставшееся пространство, чтобы футер был снизу
  background-color: $mainBG;
  position: relative;
  #pass_menu {
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    background-color: white;
    width: 300px;
    position: absolute;
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
    @include shadowed;
    display: none;
    .pass_type {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5em;
    }
    p {
      color: gray;
      font-weight: bold;
    }
    button {
      width: 2em;
      height: 2em;
      position: relative;
      border: none;
      background-color: white;
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &.plus {
        &::after {
          content: "+";
        }
        &::after {
          content: "-";
        }
      }
      &:disabled {
        background-color: $mainBG;
        box-shadow: none;
      }
    }
    .pass_class li,
    button {
      border-radius: 1em;
      box-shadow: 0 0 0.5em rgba(128, 128, 128, 0.5);
      cursor: pointer;
    }
    ul {
      padding: 0;
      &.pass_class {
        display: flex;
        gap: 1em;
        li {
          list-style-type: none;
          padding: 1em;
          line-height: 0;
          &.active {
            background-color: $brightColor;
            color: white;
          }
        }
      }
    }
    .ok {
      &:hover {
        color: white;
        background-color: $brightColor;
      }
      width: 100%;
      margin-top: 1em;
    }
  }
  #calendar_wrapper {
    display: none;
    padding: 1em;
    gap: 1em;
    background-color: white;

    position: absolute;
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
    @include shadowed();
    .ok {
      margin: 1em auto 0;
      display: block;
      padding: 1em;
      border-radius: 2em;
      box-shadow: 0 0 0.5em rgba(128, 128, 128, 0.5);
      cursor: pointer;
      background: $brightColor;
      border: none;
    }
  }
  #calendar {
    display: flex;
    gap: 1em;
    .calendarsheet {
      position: relative;
    }
    button {
      cursor: pointer;
      position: absolute;
      top: 0;
      background: transparent;
      border: none;
      font-weight: bold;
      color: gray;
      &#prev {
        left: 10px;
      }
      &#next {
        right: 10px;
      }
    }

    .month {
      text-align: center;
      font-weight: bold;
    }

    .week {
      width: 100%;
      display: flex;
      li {
        color: gray;
        font-weight: bold;
      }
    }

    .dates {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      width: calc(100% / 7);
      box-sizing: border-box;
      text-align: center;
      color: grey;
      list-style-type: none;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      padding: 0.5em;
      margin: 2px 0;
    }

    .active {
      color: black;
    }

    .today {
      background-color: lightgray;
      border-radius: 5px;
    }

    .selected {
      border-top: 1px solid $lightText;
      border-bottom: 1px solid $lightText;
      background-color: $delicateColor;
    }

    .borderdate,
    .startdate,
    .enddate {
      background-color: $brightColor;
      color: white;
    }

    .borderdate {
      border-radius: 5px;
    }

    .startdate {
      border-left: 1px solid $lightText;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .enddate {
      border-right: 1px solid $lightText;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.promo {
  @include flex(stretch, space-between, row, 1em);
  width: 100%;
  .telegram {
    background: white url(./images/pics/telegrambot.png) no-repeat 95% 100%;
    button {
      background-color: $delicateColor;
      color: $brightColor;
    }
  }
  .bus {
    background: white url(./images/pics/bus.png) no-repeat 100% 90%;
    button {
      background-color: $brightColor;
      color: white;
    }
  }
  &_item {
    background: white;
    box-shadow: -1px 1px 10px rgba(100, 100, 100, 30%);
    width: 49%;
    border-radius: 5px;
    padding: 3%;
    @include flex(start, center, column, 1em);
    h3 {
      font-size: 1.1em;
      font-weight: normal;
    }
    ul {
      padding-right: 130px;
      li {
        list-style-type: none;
        display: inline;
        margin-right: 0.5em;
        &::before {
          content: "✓";
          color: $green;
          margin-right: 0.25em;
          font-weight: bold;
        }
      }
    }
    button {
      border: none;
      cursor: pointer;
      padding: 1em;
      box-shadow: -1px 1px 10px rgba(100, 100, 100, 30%);
      border-radius: 5px;
      &:hover {
        box-shadow: -1px 1px 10px rgba(100, 100, 100, 30%) inset;
      }
    }
  }
  @media (max-width: 1024px) {
    flex-direction: column;
    &_item {
      width: 94%;
    }
  }
}

.content {
  display: grid;
  grid-template-areas:
    "popular top10"
    "hot     faq"
    "hot     best";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto;
  align-items: flex-start;
  gap: 20px;
  @media (max-width: 1024px) {
    @include flex(stretch, center, column, 1em);
  }
  article,
  .best {
    @include shadowed();
  }
  .best {
    padding: 0.1em 1em;
  }
  &_item {
    h2 {
      font-size: 1.2em;
      margin: 20px 0;
      font-weight: normal;
    }
    article {
      background-color: white;

      h3 {
        font-weight: normal;
        font-size: 1.1em;
      }
      p {
        color: $lightText;
        font-size: 0.8em;
        line-height: 1.6em;
        margin: 1em 0;
      }
    }
  }

  .popular {
    grid-area: popular;

    article {
      @media (min-width: 1601px) {
        column-count: 2;
        gap: 0;
        li {
          height: 3em;
        }
      }

      li {
        list-style-type: none;
        padding: 0.75em;
        line-height: 1.5em;
        // height: 2em;
        border-bottom: 1px solid $lightText;
        @include flex(center, space-between, row);
        @media (max-width: 1024px) {
          flex-direction: column;
        }
        @media (max-width: 600px) {
          align-items: start;
        }
        a {
          text-decoration: none;
          &:hover {
            color: $brightColor;
          }
        }
        b {
          font-weight: normal;
          color: $brightColor;
        }
      }
    }
  }
  .top10 {
    grid-area: top10;

    &_header {
      @include flex(center, space-between, row);
      margin: 20px 0;
      flex-wrap: wrap;
      h2 {
        margin: 0;
      }
      a {
        text-decoration: none;
        color: $linkColor;
        font-size: 0.8em;
        &:hover {
          color: $brightColor;
        }
      }
    }
    ol {
      font-size: 0.95em;
      padding: 1em 2em;
      li {
        &::marker {
          content: counter(list-item) " "; /* только число и пробел */
        }
        div {
          @include flex(center, space-between, row);
          a {
            text-decoration: none;
            color: $linkColor;
            &:hover {
              color: $brightColor;
            }
          }
          b {
            font-weight: normal;
            &::before {
              content: "★";
              margin-right: 10%;
              font-size: 1.5em;
              color: $brightColor;
            }
          }
        }
      }
    }
  }

  .hot {
    grid-area: hot;
    article {
      padding: 1em;
      h3 {
        font-weight: bold;
        font-size: 0.9em;
      }
    }
  }

  .faq {
    grid-area: faq;
    article {
      padding: 1em;

      ul {
        @include flex(start, start, column, 1em);
        list-style-type: none;
        a {
          font-size: 0.95em;
          text-decoration: none;
          color: $linkColor;
          &:hover {
            color: $brightColor;
          }
        }
      }
    }
  }

  .best {
    grid-area: best;
    background: $highlightColor;
    padding: 1em;
    h2 {
      margin: 0;
      font-size: 1.2em;
      font-weight: normal;
      padding-right: 120px;
      position: relative;
      height: 110px;
      margin-bottom: 1em;
      @include flex(start);
      &::after {
        content: url(./images/pics/notebook.png);
        position: absolute;
        bottom: 50%;
        transform: translateY(50%);
        right: 0;
      }
    }
    form {
      width: 100%;
      height: 50px;
      position: relative;
      @include flex(stretch, start, row);
      input {
        border: 1px solid $brightColor;
        border-radius: 5px;
        flex-grow: 1;
        padding: 0 1em;
        &::placeholder {
          color: $brightColor;
        }
        &:focus {
          outline: none;
        }
      }
      button {
        color: white;
        background-color: $brightColor;
        border: none;
        border-radius: 5px;
        width: 50px;
        cursor: pointer;
      }
      &::after {
        content: "!";
        background: #ff5252;
        color: white;
        font-weight: bold;
        border-radius: 50%;
        position: absolute;
        top: -1em;
        right: 5em;

        width: 2em;
        height: 2em;
        text-align: center;

        @include flex(center, center);
      }
    }
    @media (min-width: 601px) and (max-width: 1024px) {
      padding: 1em 15%;
    }
  }
}

footer {
  width: 100%;
  padding: 2em 0;
  .wrapper {
    align-items: stretch;
    gap: 2em;
  }
  ul {
    list-style-type: none;
  }
  background-color: white;
  .partners {
    display: flex;
    justify-content: space-between;
    li {
      display: inline-flex;
      img {
        max-height: 35px;
      }
    }
  }
  .categories {
    border-bottom: 1px solid $lightText;
    display: flex;
    @include flex(stretch, space-between, row);
    font-size: 0.8em;
    &_column {
      @include flex(start, start, column, 0.5em);
      width: 14%;
      line-height: 1.8em;
      &_list {
        flex-grow: 1;
        a {
          color: $mainText;
          text-decoration: none;
        }
      }
      h4,
      &_list {
        width: 100%;
      }
      h4,
      li,
      .all {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .all {
        width: 100%;
        padding-bottom: 2em;
        display: block;
        color: $linkColor;
        text-decoration: none;
        &::after {
          content: " →";
        }
      }
    }
    a:hover {
      color: #f74068;
    }
    @media (max-width: 1024px) {
      flex-wrap: wrap;

      &_column {
        width: 28%;
      }
    }
    @media (max-width: 600px) {
      flex-direction: column;
      &_column {
        width: 100%;
        border-top: 1px solid $lightText;
        padding: 1em 0;
        h4 {
          @include flex(center, space-between, row);
          cursor: pointer;
          &::after {
            content: ">";
            display: block;
            color: $lightText;
          }
        }
        &_list,
        .all {
          display: none;
        }
      }
    }
  }
  .links {
    @include flex(center, space-between, row, 1em);
    &_buttons {
      @include flex(center, center, row);
      flex-wrap: wrap;
      li {
        border-radius: 5px;
        @include flex(center, center);
        padding: 1em;
      }
      &_partners {
        border: 1px solid $linkColor;

        a {
          color: $linkColor;
        }
      }
      &_app {
        ul {
          @include flex(center, center, row, 1em);
        }

        li {
          background-color: black;
          a {
            color: white;
          }
        }
      }
      a {
        text-decoration: none;
      }
    }
    &_media {
      @include flex(center, end, row, 0.5em);
      &_item {
        color: $lightText;
        font-size: 2.5em;
      }
    }
    a:hover {
      color: $titleColor;
    }
    @media (max-width: 600px) {
      flex-direction: column;
      margin: 0 auto;
    }
  }
}
